@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#title {
  font-family: "Prosto One", cursive;
  pointer-events: none;
}

#text {
  font-family: "Roboto Mono", monospace;
  pointer-events: none;
}

#text1 {
  font-family: "Andika", sans-serif;
  pointer-events: none;
}

#landing-container {
  background-image: url("./Assets/bg-1.png");
  background-size: cover;
  background-position: center;
}

#landing-text {
  background-color: rgba(0, 0, 0, 0.453);
  border: solid 2px black;
}

#table-container {
  background-image: url("./Assets/bg-2.png");
  background-size: cover;
  background-position: center;
}

#list-table {
  background-color: rgba(0, 0, 0, 0.405);
  box-shadow: 10px 10px 5px 0px rgba(236, 229, 229, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(236, 229, 229, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(236, 229, 229, 0.75);
}

.textContainer {
  position: relative;
  z-index: 1;
}

.imagen-about {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.olStyle {
  background-color: rgba(0, 0, 0, 0.616);
}

#information-bg {
  background-image: url("./Assets/bg-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0px;
  margin: 0px;
}
