/* Importar fuentes de Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Prosto+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Andika&display=swap");

/* Establecer valores por defecto para margin y padding en 0 y utilizar box-sizing border-box */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

/* Establecer fuentes de Google Fonts para diferentes elementos */
#title {
  font-family: "Prosto One", cursive;
  pointer-events: none;
}

#text {
  font-family: "Roboto Mono", monospace;
  pointer-events: none;
}

#text1 {
  font-family: "Andika", sans-serif;
  pointer-events: none;
}

/* Establecer estilos para contenedores de página */
#landing-container {
  background-image: url("./Assets/bg-1.png");
  background-size: cover;
  background-position: center;
}

#landing-text {
  background-color: rgba(0, 0, 0, 0.453);
  backdrop-filter: blur(20px);
}

/* NavBar */
#navBar {
  background-color: rgba(0, 0, 0, 0.311);
  backdrop-filter: blur(5px);
  font-family: "Prosto One", cursive;
  font-size: 20px;
}

#navbarScrollingDropdown {
  color: white;
}

#table-container {
  background-image: url("./Assets/bg-2.png");
  background-size: cover;
  background-position: center;
}

#list-table {
  background-color: rgba(0, 0, 0, 0.405);
  box-shadow: 10px 10px 5px 0px rgba(236, 229, 229, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(236, 229, 229, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(236, 229, 229, 0.75);
}

/* Establecer estilos para contenedores de texto */
.textContainer {
  position: relative;
  z-index: 1;
}

/* Establecer estilos para imágenes */
.imagen-about {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Establecer estilos para elementos de lista */
.olStyle {
  background-color: rgba(0, 0, 0, 0.616);
}

/* Establecer estilos para contenedor de información */
#information-bg {
  background-image: url("./Assets/bg-4.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
}

#footer {
  background-color: rgba(0, 0, 0, 0.311);
  backdrop-filter: blur(5px);
  font-family: "Prosto One", cursive;
}

#lista {
  text-decoration: none;
  list-style: none;
}

#lista a {
  color: white;
}

.hvr-grow {
  transition: transform 0.2s; /* Animation speed */
}
.hvr-grow:hover {
  transform: scale(1.5); /* Scale up the element by 50% on hover */
}
